{% extends "template.html" %} {% block body %}

<div class="container m-2">
    <h1>SW5E Weapon Calculator</h1>
    <h5 class="text-white text-center">{{title}}</h5>
    <div class="row m-2">
        <div class="col m-2">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#note-collapse" role="button">Notes</a>
        </div>
        <div class="collapse" id="note-collapse">
            <table class="table table-bordered text-white">
                {% for note in fields.notes %}
                <tr>
                    <td>{{note.title}}</td>
                    <td>{{note.text}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <form id="calcForm">
        <div class="row m-2 border rounded">
            <div class="col-12 m-2">
                <div class="form-floating">
                    <input type="text" class="form-control" id="weap-name" name="weap-name" required>
                    <label for="weap-name">Weapon Name</label>
                </div>
            </div>
            {% for field in fields.fields %}
            <div class="col-3 m-2">
                <div class="form-floating" id="weapon-form">
                    <select class="form-select" id="{{field.name}}" name="{{field.name}}" aria-label="{{field.name}}"
                            title="{{field.desc if field.desc}}">
                        {% for point in field.points %}
                        <option value="{{point}}"
                                point-cost="{{field.prices[field.points.index(point)] if field.prices else 0}}"
                                point-weight="{{field.weights[field.points.index(point)] if field.weights else 0}}">
                            {{point}}
                        </option>
                        {% endfor %}
                    </select>
                    <label for="{{field.name}}">{{field.name}}</label>
                    {% if field.cost %}
                    <small id="{{field.cost}}-help" class="form-text text-muted"><p class="m-0">Cost Adjustment:
                        {{field.cost}} cr</p></small>
                    {% endif %}
                    {% if field.weight %}
                    <small id="{{field.weight}}-help" class="form-text text-muted"><p class="m-0">Weight Adjustment:
                        {{field.weight}} lbs
                        <p/></small>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </form>
    <div class="row m-2 justify-content-end">
        <table class="table table-sm table-borderless text-white w-50" align="right">
            <tr id="summary-row">
                <td>Total:</td>
                <td><p id="point-total" class="d-inline">0</p></td>
            </tr>
            <tr>
                <td>Damage Die:</td>
                <td><p id="damage-die" class="d-inline">{{fields.weights | selectattr("points", "equalto", "default") |
                    map(attribute="die") | first }}</p></td>
            </tr>
            <tr>
                <td>Cost:</td>
                <td><p id="cost-total" class="d-inline">{{fields.weights | selectattr("points", "equalto", "default") |
                    map(attribute="cost") | first }}</p> cr
                </td>
            </tr>
            <tr>
                <td>Weight:</td>
                <td><p id="weight-total" class="d-inline">{{fields.weights | selectattr("points", "equalto", "default")
                    | map(attribute="weight") | first }}</p> lbs
                </td>
            </tr>
            <tr>
                <td>Min/Max Range:</td>
                <td><p id="short-range" class="d-inline">{{fields.weights | selectattr("points", "equalto", "default") |
                    map(attribute="short") | first }}</p> / <p id="long-range" class="d-inline m-0 p-0">{{fields.weights
                    | selectattr("points", "equalto", "default") | map(attribute="long") | first }}</p> ft
                </td>
            </tr>
            <tr>
                <td>Reload:</td>
                <td><p id="reload" class="d-inline">{{fields.weights | selectattr("points", "equalto", "default") |
                    map(attribute="reload") | first }}</p></td>
            </tr>
        </table>
    </div>
</div>

<script nonce="{{ csp_nonce() }}">
    var weights = {{ fields.weights|tojson|safe }}
    var properties = {{ fields.fields|tojson|safe }}
</script>
<script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='/js/SW5E_Weapon_Calculator.js')}}"></script>

{% endblock %}
