{% extends "template.html" %} {% block body %}

<div class="container m-2">
    <h1>SW5E Weapon Calculator</h1>
    <div class="row text-center border rounded">
        <h5 class="text-white">Which type of weapon?</h5>
        <div class="btn-group" role="group">
            <a role="button" class="btn btn-primary m-2" href="{{ url_for('weap_calc.blasters') }}">Blasters</a>
            <button type="button" class="btn btn-primary m-2">Lightweapons</button>
            <button type="button" class="btn btn-primary m-2">Vibroweapons</button>
        </div>
    </div>
</div>

{% endblock %}