{% extends "template.html" %} {% block body %}

<div class="containter m-2">
    <h1>SW5E Weapon Calculator</h1>
</div>

<nav>
    <div class="nav nav-tabs sw5eCalc-tabs m-2" id="sw5e-calc-tabs" role="tablist"></div>
</nav>

<div class="tab-content" id="sw5e-calc-content"></div>

<script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='src/Weapon Calculator/main.js')}}" type="module"></script>

<script nonce="{{ csp_nonce() }}" src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/12.1.0/math.js"></script>

{% endblock %}

