{% extends "template.html" %} {% block body %}

<div class="containter m-2">
    <h1>SW5E Weapon Calculator</h1>
</div>

<nav>
    <div class="nav nav-tabs sw5eCalc-tabs m-2" id="sw5eCalcTab" role="tablist">
        {% for key in data %}
        <button class="nav-link sw5ecalc {{'active' if data|first == key}}" id="{{key}}-tab" data-bs-toggle="tab"
                data-bs-target="#{{key}}-calc"
                type="button" role="tab" aria-selected="true" aria-controls="{key}-calc">{{ data[key].title }}
        </button>
        {% endfor %}
    </div>
</nav>

<div class="tab-content" id="sw5eCalcContent">
    {% for key in data %}
    {% set ref_data = data[key] %}
    <div class="tab-pane fade {{'active show' if data|first == key else ''}}" id="{{key}}-calc" role="tabpanel"
         aria-labelledby="{{key}}-tab" tabindex="0">
        <div class="container m-2">
            <a class="btn btn-primary m-2" data-bs-toggle="collapse" href="#{{key}}-note-collapse"
                       role="button">Notes</a>
            <a class="btn btn-primary m-2" data-bs-toggle="collapse" href="#{{key}}-base-collapse"
                       role="button">Base
                        Values</a>
            <button type="button" class="btn btn-primary m-2" id="{{key}}-export">Export (I don't work yet)</button>
            <a class="btn btn-danger m-2" role="button" id="{{key}}-reset">Reset Weapon</a>
            <div class="row">
                <div class="collapse" id="{{key}}-note-collapse">
                    <table class="table table-bordered text-white">
                        {% for note in ref_data.notes %}
                        <tr>
                            <td>{{note.title}}</td>
                            <td>{{note.text}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="collapse" id="{{key}}-base-collapse">
                    <div class="table-responsive">
                        <table class="table table-bordered text-white">
                            <thead>
                            <tr>
                                {% for header in ref_data.weight_headers %}
                                <th>{{ref_data.weight_headers[header]}}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            {% for weight in ref_data.weights %}
                            <tr>
                                {% for header in ref_data.weight_headers %}
                                {% if 'range' in header|lower %}
                                <td>{{weight.short}}/{{weight.long}}</td>
                                {% else %}
                                <td>{{ weight[header] }}</td>
                                {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <form id="{{key}}CalcForm">
                        <div class="table-responsive m-2">
                            <table class="table table-bordered text-white text-nowrap">
                                <thead>
                                <tr>
                                    <th class="align-text-top">
                                        <h5>Property</h5>
                                        <small class="form-text text-muted text-wrap">Click property names for more
                                            info</small>
                                    </th>
                                    <th class="align-text-top">
                                        <h5>Selection</h5>
                                    </th>
                                </tr>
                                </thead>
                                {% for field in ref_data.fields %}
                                <tr>
                                    <td class="align-text-top">
                                        {% if field.desc %}
                                        <h5><a href="#/" class="popover-link text-white" data-bs-toggle="popover"
                                               data-bs-trigger="focus" data-bs-content="{{field.desc}}"
                                               data-placement="right">{{field.name}}</a></h5>
                                        {% else %}
                                        <h5>{{field.name}}</h5>
                                        {% endif %}
                                        {% if field.pointValue %}
                                        <small id="{{key}}-{{field.pointValue}}-help" class="form-text text-muted"><p
                                                class="m-0">
                                            Point Value: {{field.pointValue}}</p></small>
                                        {% endif %}
                                        {% if field.cost %}
                                        <small id="{{key}}-{{field.cost}}-help" class="form-text text-muted"><p
                                                class="m-0">
                                            Cost Adjustment: {{field.cost}} cr</p></small>
                                        {% endif %}
                                        {% if field.weight %}
                                        <small id="{{key}}-{{field.weight}}-help" class="form-text text-muted"><p
                                                class="m-0">
                                            Weight Adjustment: {{field.weight}} lbs
                                            <p/></small>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <select class="form-select" id="{{key}}-{{field.name}}"
                                                name="{{key}}-{{field.name}}"
                                                aria-label="{{key}}-{{field.name}}">
                                            {% for point in field.points %}
                                            <option
                                                    value="{{field.overrideValue[field.points.index(point)] if field.overrideValue else point}}"
                                                    {% if field.weights %}
                                                    weight-override="{{field.weights[field.points.index(point)]}}"
                                                    {% endif %}
                                                    {% if field.costs %}
                                                    cost-override="{{field.costs[field.points.index(point)]}}"
                                                    {% endif %}
                                                    {% if field.rangeMod %}
                                                    range-mod="{{ field.rangeMod[field.points.index(point)]}}"
                                                    {% endif %}
                                                    {% if field.reloadMod %}
                                                    reload-mod="{{ field.reloadMod[field.points.index(point)]}}"
                                                    {% endif %}
                                                    {% if field.defValue== point %}
                                                    selected
                                                    {% endif %}>
                                                {{point}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </form>
                </div>
                <div class="col text-nowrap">
                    <div class="card bg-dark sticky-top border">
                        <table class="table table-sm table-borderless text-white w-50" align="right">
                            <tr id="{{key}}-summary-row">
                                <td>Total:</td>
                                <td><p id="{{key}}-point-total" class="d-inline">0</p></td>
                            </tr>
                            <tr>
                                <td>Damage Die:</td>
                                <td><p id="{{key}}-damage-die" class="d-inline">{{ref_data.weights |
                                    selectattr("points",
                                    "equalto",
                                    "default") |
                                    map(attribute="die") | first }}</p></td>
                            </tr>
                            <tr>
                                <td>Cost:</td>
                                <td><p id="{{key}}-cost-total" class="d-inline">{{ref_data.weights |
                                    selectattr("points",
                                    "equalto",
                                    "default") |
                                    map(attribute="cost") | first }}</p> cr
                                </td>
                            </tr>
                            <tr>
                                <td>Weight:</td>
                                <td><p id="{{key}}-weight-total" class="d-inline">{{ref_data.weights |
                                    selectattr("points",
                                    "equalto",
                                    "default")
                                    | map(attribute="weight") | first }}</p> lbs
                                </td>
                            </tr>
                            <tr>
                                <td>Min/Max Range:</td>
                                <td><p id="{{key}}-short-range" class="d-inline">{{ref_data.weights |
                                    selectattr("points",
                                    "equalto",
                                    "default") |
                                    map(attribute="short") | first }}</p> / <p id="{{key}}-long-range"
                                                                               class="d-inline m-0 p-0">
                                    {{ref_data.weights
                                    | selectattr("points", "equalto", "default") | map(attribute="long") | first }}</p>
                                    ft
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script nonce="{{ csp_nonce() }}">
    var reference = {{ data|tojson|safe }}

    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))


</script>
<script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='/js/SW5E_Weapon_Calculator.js')}}"></script>

{% endblock %}
