{% extends "template.html" %} {% block body %}

<div class="container m-2">
    <h1>Avrae/OTFBM Combat Planner</h1>
    <!-- Reset Button -->
    <button type="button" class="btn btn-danger m-2" id="reset-button" data-bs-toggle="modal"
            data-bs-target="#resetModal" data-reset="all" title="Reset All">
        Reset
    </button>

    <!-- Load Plan Button -->
    <div class="dropdown d-inline">
        <a type="button" class="btn btn-info m-2 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="load-plan" title="Load Saved Plan" hidden>Load Saved Plan</a>
        <ul class="dropdown-menu" aria-labelledby="load-plan" id="load-plan-list"></ul>
    </div>

    <!-- Delete Plan Button -->
    <button class="btn btn-danger m-2" role="button" id="delete-plan" title="Delete Plan" hidden><i class="fa-solid fa-trash"></i></button>

    <!-- Save Plan Button Icon -->
    <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#saveModal" title="Save plan" id="save-plan-button">
        <i class="fa-solid fa-floppy-disk"></i>
    </button>

    <!-- Export Button Icon-->
    <button type="button" class="btn btn-primary m-2" id="export-planner" title="Export Build"><i class="fa-solid fa-file-export"></i></button>

    <!-- General Settings Button Icon -->
    <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#appSettingsModal" title="General Settings">
        <i class="fa-solid fa-gear"></i>
    </button>

    <!-- Information Button Icon -->
    <button type="button" class="btn btn-info m-2" data-bs-toggle="modal" data-bs-target="#howtomodal" title="About this tool">
        <i class="fa-solid fa-circle-info"></i>
    </button>
</div>

<!-- Nav Tabs -->
<nav>
    <div class="nav nav-tabs combat-planner-tabs m-2" id="combat-plannerTab" role="tablist">
        <button class="nav-link active combat-planner" id="inventory-tab" data-bs-toggle="tab"
                data-bs-target="#main-tab"
                type="button" role="tab" aria-selected="true" aria-controls="main-tab">Monster Inventory
        </button>

        <button class="nav-link combat-planner" id="map-tab" data-bs-toggle="tab" data-bs-target="#map-planner"
                type="button"
                role="tab" aria-selected="true" aria-controls="map-planner">Map Planner
        </button>
    </div>
</nav>

<!-- Tab Content -->
<div class="tab-content" id="combat-plannerTabContent">

    <!--    Main  Tab   -->
    <div class="tab-pane fade show active" id="main-tab" role="tabpanel" aria-labelledby="inventory-tab"
         tabindex="0">
    {% include 'combat_planner/components/monster_inventory.html' %}
    </div>

    <!--    Map Commands    -->
    <div class="tab-pane fade" id="map-planner" role="tabpanel" aria-labelledby="map-tab" tabindex="0">
        <div class="container m-2">
            <div class="row m-3">
                <div class="col-auto mb-2">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#monsterMapModal">Place Monsters
                    </button>
                </div>

                <div class="col-auto mb-2">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#mapSettingsModal">Map Settings
                    </button>
                </div>

                <div class="col-auto mb-2">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#mapOverlayModal">Overlay Settings
                    </button>
                </div>
            </div>
            <div id="map-preview" class="text-center" hidden></div>
        </div>
    </div>

</div>

<! -- Modal -->
<!--    Monster Map Placement    -->
{% include 'combat_planner/modals/monster_map.html' %}

<!--    Map Settings    -->
{% include 'combat_planner/modals/map_settings.html' %}

<!--    Map Overlay    -->
{% include 'combat_planner/modals/map_overlay.html' %}

<!-- General Settings -->
{% include 'combat_planner/modals/general_settings.html' %}

<!-- How-to Modal -->
{% include 'combat_planner/modals/how_to.html' %}

<!-- Save Plan Modal -->
{% include 'combat_planner/modals/save_plan.html' %}

<! -- Reset Modal -->
{% include 'combat_planner/modals/reset.html' %}


<script src="/static/src/Avrae%20Combat%20Planner/Main.js" type="module"></script>


{% endblock %}
