{% extends "template.html" %} {% block body %}

<div class="container m-2">
    <button type="button" class="btn btn-danger" id="comReset">Reset</button>
</div>

<nav>
    <div class="nav nav-tabs complanner-tabs m-2" id="complannerTab" role="tablist">
        <button class="nav-link active complanner" id="inventory-tab" data-bs-toggle="tab" data-bs-target="#inventory"
                type="button" role="tab" aria-selected="true" aria-controls="inventory">Monster Inventory
        </button>

        <button class="nav-link complanner" id="map-tab" data-bs-toggle="tab" data-bs-target="#map" type="button"
                role="tab" aria-selected="true" aria-controls="map">Monster Map
        </button>
    </div>
</nav>

<div class="tab-content" id="complannerTabContent">
    <div class="tab-pane fade show active" id="inventory" role="tabpanel" aria-labelledby="inventory-tab" tabindex="0">
        <div class="container m-2">
            <div class="row border rounded border-success bg-light">
                <div class="col-sm">
                    <p class="text-black">Avrae Command String</p>
                    <div id="madd" class="text-dark bg-secondary border rounded m-2 p-2"></div>
                </div>
                <div class="col-sm-2">
                    <button class="btn" id="maddCopy"><i class="fa-solid fa-copy"></i></button>
                </div>
            </div>
            <form method="post" id="monInventory"></form>
        </div>
    </div>

    <div class="tab-pane fade" id="map" role="tabpanel" aria-labelledby="map-tab" tabindex="0">
        <div class="container m-2">
            <div class="row border rounded border-success bg-light">
                <div class="col-sm">
                    <p class="text-black">Avrae Command String</p>
                    <div id="mapCmd" class="text-dark bg-secondary border rounded m-2 p-2"></div>
                </div>
                <div class="col-sm-2">
                    <button class="btn" id="mapCmdCopy"><i class="fa-solid fa-copy"></i></button>
                </div>
            </div>
            <form method="post" id="mapPlanner"></form>
        </div>
    </div>
</div>

<script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='/js/combat_planner.js')}}"></script>

{% endblock %}