{% extends "template.html" %} {% block body %}

<div class="container m-2">
    <h1>Avrae/OTFBM Combat Planner</h1>
    <button type="button" class="btn btn-danger m-2" id="comReset">Reset All</button>
    <button type="button" class="btn btn-primary m-2" id="comMonReset">Reset Monsters Only</button>
    <button type="button" class="btn btn-primary m-2" id="comMapReset">Reset Map Only</button>
    <button type="button" class="btn btn-primary m-2" id="exportSettings">Export</button>
</div>

<nav>
    <div class="nav nav-tabs complanner-tabs m-2" id="complannerTab" role="tablist">
        <button class="nav-link active complanner" id="inventory-tab" data-bs-toggle="tab"
                data-bs-target="#monster-inventory"
                type="button" role="tab" aria-selected="true" aria-controls="monster-inventory">Monster Inventory
        </button>

        <button class="nav-link complanner" id="map-tab" data-bs-toggle="tab" data-bs-target="#map-planner"
                type="button"
                role="tab" aria-selected="true" aria-controls="map-planner">Map Planner
        </button>
    </div>
</nav>

<div class="tab-content" id="complannerTabContent">
    <!--    Monster Inventory   -->
    <div class="tab-pane fade show active" id="monster-inventory" role="tabpanel" aria-labelledby="inventory-tab"
         tabindex="0">
        <div class="container m-2">
            <div class="row border rounded border-success bg-light" id="inventory-header" hidden>
                <div class="col-sm">
                    <p class="text-black">Avrae Command String</p>
                    <div id="madd" class="text-dark bg-secondary border rounded m-2 p-2"></div>
                </div>
                <div class="col-1 m-0 p-0">
                    <button class="btn" id="maddCopy"><i class="fa-solid fa-copy"></i></button>
                </div>
            </div>
            <form method="post" id="monInventory">
                <div class="row monster border rounded bg-secondary m-2" id="monster1">
                    <div class="row mt-2">
                        <div class="col-md-12 d-flex monHeader">
                            <h3>Monster 1</h3>
                            <!--                            <button type="button" id="monRemove1" class="btn-close ms-auto"></button>-->
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-sm mb-3">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="monName1" name="monName"
                                       placeholder="Monster Name">
                                <label for="monName1">Monster Name</label>
                            </div>
                        </div>
                        <div class="col-sm-2 mb-3">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="monLabel1" name="monLabel"
                                       placeholder="Label">
                                <label for="monLabel1">Label</label>
                            </div>
                        </div>
                        <div class="col-sm-2 mb-3">
                            <div class="form-floating">
                                <input type="number" class="form-control" id="monQty1" name="monQty" max="20"
                                       value="1">
                                <label for="monQty1">Quantity</label>
                            </div>
                        </div>
                        <div class="col-sm-3 mb-3">
                            <div class="form-floating">
                                <select class="form-select" aria-label="Monster Size" id="monSize1" name="monSize">
                                    <option value="T">Tiny</option>
                                    <option value="S">Small</option>
                                    <option value="M" selected>Medium</option>
                                    <option value="L">Large</option>
                                    <option value="H">Huge</option>
                                    <option value="G">Gargantuan</option>
                                </select>
                                <label for="monSize1">Size</label>
                            </div>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-sm-4 mb-3">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="monToken1" name="monToken"
                                       placeholder="Token Shortcode/URL">
                                <label for="monToken1">Token Shortcode/URL</label>
                            </div>
                        </div>
                        <div class="col-sm mb-3">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="monArgs1" name="monArgs"
                                       placeholder="Additional Arguments">
                                <label for="monArgs1">Additional Arguments</label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--    Map Commands    -->
    <div class="tab-pane fade" id="map-planner" role="tabpanel" aria-labelledby="map-tab" tabindex="0">
        <div class="container m-2">
            <div class="row m-3">
                <div class="col-auto mb-2">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#monsterMapModal">Place Monsters
                    </button>
                </div>

                <div class="col-auto mb-2">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#mapSettingsModal">Map Settings
                    </button>
                </div>

                <div class="col-auto mb-2">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#mapOverlayModal">Overlay Settings
                    </button>
                </div>
            </div>
            <div id="mapPreview" class="text-center" hidden></div>
        </div>
    </div>

</div>

<! -- Modal -->
<div class="modal fade" id="monsterMapModal" tabindex="-1" role="dialog" aria-labelledby="monsterMapModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold text-black" id="monsterMapModalLabel">Monster
                    Coordinates</h4>
                <button type="button" class="btn-close" data-dismiss="modal" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container m-2">
                    <div class="row border rounded border-success bg-light" id="map-header" hidden>
                        <div class="col-sm">
                            <p class="text-black">Avrae Command String</p>
                            <div id="mapCmd" class="text-dark bg-secondary border rounded m-2 p-2"></div>
                        </div>
                        <div class="col-1 m-0 p-0">
                            <button class="btn" id="mapCopy"><i class="fa-solid fa-copy"></i></button>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-md">
                            <form method="post" id="mapPlanner">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mapSettingsModal" tabindex="-1" role="dialog" aria-labelledby="mapSettingsModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold text-black" id="mapSettingsModalLabel">Map Settings</h4>
                <button type="button" class="btn-close" data-dismiss="modal" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container m-2">
                    <div class="row border rounded border-success bg-light" id="maps-header" hidden>
                        <div class="col-sm">
                            <p class="text-black">Avrae Command String</p>
                            <div id="map-command" class="text-dark bg-secondary border rounded m-2 p-2"></div>
                        </div>
                        <div class="col-1 m-0 p-0">
                            <button class="btn" id="map-command-copy"><i class="fa-solid fa-copy"></i></button>
                        </div>
                    </div>
                    <form method="post" id="map-setup">
                        <div class="row border rounded bg-secondary m-2">
                            <div class="row m-2">
                                <div class="col-sm mb-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="map-url" name="map-url"
                                               placeholder="Map URL">
                                        <label for="map-url">Map URL</label>
                                    </div>
                                </div>
                                <div class="col-sm-3 mb-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="map-size" name="map-size"
                                               placeholder="Map Size">
                                        <label for="map-url">Map Size</label>
                                        <small id="map-url-help" class="form-text text-white-50">Ex: 25x25</small>
                                    </div>
                                </div>
                                <div class="col-sm-3 mb-3">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="map-csettings"
                                               name="map-csettings"
                                               placeholder="Map CSettings">
                                        <label for="map-url">Map CSettings</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mapOverlayModal" tabindex="-1" role="dialog" aria-labelledby="mapOverlayModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold text-black" id="mapOverlayModalLabel">Overlay
                    Settings</h4>
                <button type="button" class="btn-close" data-dismiss="modal" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container m-2">
                    <div class="row border rounded border-success bg-light" id="overlay-header" hidden>
                        <div class="col-sm">
                            <p class="text-black">Avrae Command String</p>
                            <div id="overlay-command" class="text-dark bg-secondary border rounded m-2 p-2"></div>
                        </div>
                        <div class="col-1 m-0 p-0">
                            <button class="btn" id="overlayCopy"><i class="fa-solid fa-copy"></i></button>
                        </div>
                    </div>
                    <form method="post" id="overlay-setup">
                        <div class="row border rounded bg-secondary m-2">
                            <div class="row m-2">
                                <div class="col-sm-3 mb-3">
                                    <div class="form-floating">
                                        <select class="form-select" arial-label="Overlay Type" id="map-overlay-type"
                                                name="map-overlay-type">
                                            <option value="" selected></option>
                                            <option value="circle">Circle</option>
                                            <option value="cone">Cone</option>
                                            <option value="line">Line</option>
                                            <option value="square">Square</option>
                                        </select>
                                        <label for="map-overlay-type">Overlay</label>
                                    </div>
                                </div>
                                <div class="col-sm-3 mb-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="map-overlay-target"
                                               name="map-overlay-target" placeholder="Target">
                                        <label for="map-overlay-target">Target</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-2" id="overlay-row">
                            </div>
                            <div class="row m-2">
                                <div class="col mb-3">
                                    <button type="button" class="btn btn-light float-end" id="overlay-clear-button">Clear</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='/js/combat_helpers.js')}}"></script>
<script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='/js/combat_planner.js')}}"></script>

{% endblock %}
