{% extends "template.html" %} {% block body %}

<div class="container m-2">
    <h1>Avrae/OTFBM Combat Planner</h1>
    <!-- Reset Button -->
    <button type="button" class="btn btn-danger m-2" id="reset-button" data-bs-toggle="modal"
            data-bs-target="#resetModal" data-reset="all" title="Reset All">
        Reset
    </button>

    <!-- Load Plan Button -->
    <div class="dropdown d-inline">
        <a type="button" class="btn btn-info m-2 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="load-plan" title="Load Saved Plan" hidden>Load Saved Plan</a>
        <ul class="dropdown-menu" aria-labelledby="load-plan" id="load-plan-list"></ul>
    </div>

    <!-- Delete Plan Button -->
    <button class="btn btn-danger m-2 reset-button" role="button" id="reset-plan" title="Delete Plan" hidden><i class="fa-solid fa-trash"></i></button>

    <!-- Save Plan Button Icon -->
    <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#saveModal" title="Save plan">
        <i class="fa-solid fa-floppy-disk"></i>
    </button>

    <!-- Export Button Icon-->
    <button type="button" class="btn btn-primary m-2 copy-button" id="export-planner" title="Export Build"><i class="fa-solid fa-file-export"></i></button>

    <!-- General Settings Button Icon -->
    <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#appSettingsModal" title="General Settings">
        <i class="fa-solid fa-gear"></i>
    </button>

    <!-- Information Button Icon -->
    <button type="button" class="btn btn-info m-2" data-bs-toggle="modal" data-bs-target="#howtomodal" title="About this tool">
        <i class="fa-solid fa-circle-info"></i>
    </button>
</div>

<!-- Nav Tabs -->
<nav>
    <div class="nav nav-tabs complanner-tabs m-2" id="complannerTab" role="tablist">
        <button class="nav-link active complanner" id="inventory-tab" data-bs-toggle="tab"
                data-bs-target="#main-tab"
                type="button" role="tab" aria-selected="true" aria-controls="main-tab">Monster Inventory
        </button>

        <button class="nav-link complanner" id="map-tab" data-bs-toggle="tab" data-bs-target="#map-planner"
                type="button"
                role="tab" aria-selected="true" aria-controls="map-planner">Map Planner
        </button>
    </div>
</nav>

<!-- Tab Content -->
<div class="tab-content" id="complannerTabContent">

    <!--    Main  Tab   -->
    <div class="tab-pane fade show active" id="main-tab" role="tabpanel" aria-labelledby="inventory-tab"
         tabindex="0">
        <div class="container m-2">
            <div class="row border rounded border-success bg-light" id="inventory-header">
                <div class="col">
                    <div class="row border rounded border-success bg-light">
                        <div class="col-sm">
                            <p class="text-black">Avrae Command String</p>
                            <div id="commandStr" hidden>
                                <button class="btn float-end pe-2 me-2 copy-button" id="command-copy"><i
                                        class="fa-solid fa-copy pe-2"></i></button>
                                <div id="avrae-command" class="text-dark bg-secondary border rounded m-2 p-2"></div>
                            </div>
                        </div>
                        <div class="col-auto mt-5 mb-4 settings">
                            <div class="form-check form-switch" id="multiColumn">
                                <input class="form-check-input" type="checkbox" id="setting-multiline"
                                       name="setting-multiline">
                                <label class="form-check-label" for="setting-multiline">Include Multiline</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="setting-maptarget"
                                       name="setting-maptarget">
                                <label class="form-check-label" for="setting-maptarget">Include Map Target</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="setting-notes" name="setting-notes">
                                <label class="form-check-label" for="setting-notes">Include Notes</label>
                            </div>
                        </div>
                        <div class="col-auto mt-5 mb-4 settings">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="setting-monsters"
                                       name="setting-monsters">
                                <label class="form-check-label" for="setting-monsters">Monsters</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="setting-battlemap"
                                       name="setting-battlemap">
                                <label class="form-check-label" for="setting-battlemap">Map</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="setting-overlay"
                                       name="setting-overlay">
                                <label class="form-check-label" for="setting-overlay">Overlay</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form method="dialog" id="monster-inventory">
            </form>
        </div>
    </div>

    <!--    Map Commands    -->
    <div class="tab-pane fade" id="map-planner" role="tabpanel" aria-labelledby="map-tab" tabindex="0">
        <div class="container m-2">
            <div class="row m-3">
                <div class="col-auto mb-2">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#monsterMapModal">Place Monsters
                    </button>
                </div>

                <div class="col-auto mb-2">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#mapSettingsModal">Map Settings
                    </button>
                </div>

                <div class="col-auto mb-2">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#mapOverlayModal">Overlay Settings
                    </button>
                </div>
            </div>
            <div id="mapPreview" class="text-center" hidden></div>
        </div>
    </div>

</div>

<! -- Modal -->
<!--    Monster Map Placement    -->
<div class="modal fade" id="monsterMapModal" tabindex="-1" role="dialog" aria-labelledby="monsterMapModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold text-black" id="monsterMapModalLabel">Monster
                    Coordinates</h4>
                <button type="button" class="btn-close" data-dismiss="modal" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container m-2">
                    <div class="row border rounded border-success bg-light" id="madd-header" hidden>
                        <div class="col-sm">
                            <p class="text-black">Avrae Command String</p>
                            <div id="madd-command" class="text-dark bg-secondary border rounded m-2 p-2"></div>
                        </div>
                        <div class="col-1 m-0 p-0">
                            <button class="btn copy-button" id="madd-copy"><i class="fa-solid fa-copy"></i></button>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-md">
                            <form method="dialog" id="madd-table">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--    Map Settings    -->
<div class="modal fade " id="mapSettingsModal" tabindex="-1" role="dialog" aria-labelledby="mapSettingsModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center ">
                <h4 class="modal-title w-100 font-weight-bold text-black" id="mapSettingsModalLabel">Map Settings</h4>
                <button type="button" class="btn-close" data-dismiss="modal" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container m-2">
                    <div class="row border rounded border-success bg-light" id="maps-header" hidden>
                        <div class="col-sm">
                            <p class="text-black">Avrae Command String</p>
                            <div id="map-command" class="text-dark bg-secondary border rounded m-2 p-2"></div>
                        </div>
                        <div class="col-1 m-0 p-0">
                            <button class="btn copy-button" id="map-command-copy"><i class="fa-solid fa-copy"></i></button>
                        </div>
                    </div>
                    <form method="dialog" id="map-setup">
                        <div class="row border rounded bg-secondary m-2">
                            <div class="row m-2">
                                <div class="col-sm mb-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="map-url" name="map-url"
                                               placeholder="Map URL">
                                        <label for="map-url">Map URL</label>
                                    </div>
                                </div>
                                <div class="col-sm-4 mb-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="map-size" name="map-size"
                                               placeholder="Map Size">
                                        <label for="map-url">Map Size</label>
                                        <small id="map-url-help" class="form-text text-white-50">Ex: 25x25</small>
                                    </div>
                                </div>
                                <div class="col-sm-4 mb-3">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="map-csettings"
                                               name="map-csettings"
                                               placeholder="Map CSettings">
                                        <label for="map-url">Map CSettings</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--    Map Overlay    -->
<div class="modal fade" id="mapOverlayModal" tabindex="-1" role="dialog" aria-labelledby="mapOverlayModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold text-black" id="mapOverlayModalLabel">Overlay
                    Settings</h4>
                <button type="button" class="btn-close" data-dismiss="modal" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container m-2">
                    <div class="row border rounded border-success bg-light" id="overlay-header" hidden>
                        <div class="col-sm">
                            <p class="text-black">Avrae Command String</p>
                            <div id="overlay-command" class="text-dark bg-secondary border rounded m-2 p-2"></div>
                        </div>
                        <div class="col-1 m-0 p-0">
                            <button class="btn copy-button" id="overlay-copy"><i class="fa-solid fa-copy"></i></button>
                        </div>
                    </div>
                    <form method="dialog" id="overlay-setup">
                        <div class="row border rounded bg-secondary m-2">
                            <div class="row m-2">
                                <div class="col-sm-5 mb-3">
                                    <div class="form-floating">
                                        <select class="form-select" arial-label="Overlay Type" id="map-overlayType"
                                                name="map-overlay-type">
                                            <option value="" selected></option>
                                            <option value="circle">Circle</option>
                                            <option value="cone">Cone</option>
                                            <option value="line">Line</option>
                                            <option value="square">Square</option>
                                        </select>
                                        <label for="map-overlayType">Overlay</label>
                                    </div>
                                </div>
                                <div class="col-sm-3 mb-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="map-overlayTarget"
                                               name="map-overlay-target" placeholder="Target">
                                        <label for="map-overlayTarget">Target</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-2" id="overlay-row">
                            </div>
                            <div class="row m-2">
                                <div class="col mb-3">
                                    <button type="button" class="btn btn-light float-end" id="reset-overlay">
                                        Clear
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- General Settings -->
<div class="modal fade" id="appSettingsModal" tabindex="-1" role="dialog" aria-labelledby="appSettingsModalTitle"
     aria-hidden="true" draggable="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold text-black" id="appSettingsLabel">General Settings</h4>
                <button type="button" class="btn-close" data-dismiss="modal" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container m-2">
                    <form method="dialog" id="appSettings-setup" class="settings">
                        <div class="row border rounded bg-secondary m-2">
                            <div class="row m-2">
                                <div class="col-sm mb-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="setting-prefix" value="!"
                                               name="avrae-prefix"
                                               placeholder="!">
                                        <label for="setting-prefix">Avrae Prefix</label>
                                    </div>
                                </div>
                                <div class="col-sm mb-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="setting-attach" name="map-attach"
                                               placeholder="DM" value="DM">
                                        <label for="setting-attach">Map Attached to</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- How-to Modal -->
<div class="modal fade" id="howtomodal" tabindex="-1" role="dialog" aria-labelledby="howtomodalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold text-black">How to use this tool</h4>
                <button type="button" class="btn-close" data-dismiss="modal" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container m-0 p-0 g-0 bg-dark">
                    <div class="row m-2">
                        <div class="col-md overflow-auto">
                            {{ howto | safe}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Save Plan Modal -->
<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="saveModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold text-black">Save Plan</h4>
                <button type="button" class="btn-close" data-dismiss="modal" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <div class="container m-2">
                   <form method="dialog" id="save-plan-form">
                       <div class="row border rounded bg-secondary m-2">
                           <div class="row m-2">
                               <div class="col-sm mb-3">
                                   <div class="form-floating">
                                       <input type="text" class="form-control" id="plan-name" name="plan-name" placeholder="Plan Name" required>
                                       <label for="plan-name">Plan Name</label>
                                   </div>
                               </div>
                           </div>
                           <div class="row">
                               <div class="col mb-3">
                                   <button type="submit" class="btn btn-primary m-2 copy-button" id="save-plan">Save Build</button>
                                   <button type="button" class="btn btn-light float-end m-2" data-bs-dismiss="modal"
                                           data-dismiss="modal">
                                       Cancel
                                   </button>
                               </div>
                           </div>
                       </div>
                   </form>
               </div>
            </div>
        </div>
    </div>
</div>

<! -- Reset Modal -->
<div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="resetModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold text-black">Reset</h4>
                <button type="button" class="btn-close" data-dismiss="modal" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md">
                            <p class="text-dark">What do you want to reset?</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <button type="button" class="btn btn-danger m-2 reset-button" id="reset-all"
                                    data-bs-dismiss="modal" data-dismiss="modal">
                                Reset All
                            </button>

                            <button type="button" class="btn btn-primary m-2 reset-button" id="reset-monsters"
                                    data-bs-dismiss="modal" data-dismiss="modal">
                                Reset Monsters
                            </button>

                            <button type="button" class="btn btn-primary m-2 reset-button" id="reset-battlemap"
                                    data-bs-dismiss="modal" data-dismiss="modal">
                                Reset Battlemap
                            </button>

                            <button type="button" class="btn btn-secondary float-end m-2" data-bs-dismiss="modal"
                                    data-dismiss="modal">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script nonce="{{ csp_nonce() }}"
        src="{{ url_for('static', filename='src/Avrae Combat Planner/Main.js')}}" type="module"></script>


{% endblock %}
