<div class="row m-2 border border-rounded">
    <h3>Monster {{row}}</h3>
    <div class="col-sm mb-3">
        <div class="form-floating">
            <input type="text" class="form-control" id="mName{{row}}" name="mName{{row}}" placeholder="Monster Name">
            <label for="mName{{row}}">Monster Name</label>
        </div>
    </div>

    <div class="col-sm-2">
        <div class="form-floating">
            <input type="text" class="form-control" id="mLabel{{row}}" name="mLabel{{row}}" placeholder="Monster Label">
            <label for="mLabel{{row}}">Label</label>
        </div>
    </div>

    <div class="col-sm-2">
        <div class="form-floating">
            <input type="number" class="form-control" id="mQty{{row}}" name="mQty{{row}}" value="1">
            <label for="mQty{{row}}">Quantity</label>
        </div>
    </div>

    <div class="col-sm-2">
        <div class="form-floating">
            <select class="form-select" aria-label="Monster Size" id="mSize{{row}}" name="mSize{{row}}">
                <option value="T">Tiny</option>
                <option value="S">Small</option>
                <option value="M" selected>Medium</option>
                <option value="L">Large</option>
                <option value="G">Gargantuan</option>
            </select>
            <label for="mSize{{row}}">Size</label>
        </div>
    </div>
    <div class="mb-2">
        <div class="col-auto">
            <div class="form-floating">
                <input type="text" class="form-control" id="mArgs{{row}}" name="mArgs{{row}}"
                       placeholder="Additional Arguments">
                <label for="mArgs{{row}}">Additional Arguments</label>
            </div>
        </div>
    </div>
</div>
