################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
node_modules

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.vscode/*
.vscode/settings.json
.vscode/tasks.json
!.vscode/launch.json
.vscode/extensions.json
.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
.vs/

# User-specific stuff
.idea
.VSCodeCounter/2024-12-18_10-20-00/details.md
.VSCodeCounter/2024-12-18_10-20-00/diff-details.md
.VSCodeCounter/2024-12-18_10-20-00/diff.csv
.VSCodeCounter/2024-12-18_10-20-00/diff.md
.VSCodeCounter/2024-12-18_10-20-00/diff.txt
.VSCodeCounter/2024-12-18_10-20-00/results.csv
.VSCodeCounter/2024-12-18_10-20-00/results.json
.VSCodeCounter/2024-12-18_10-20-00/results.md
.VSCodeCounter/2024-12-18_10-20-00/results.txt
.VSCodeCounter/2024-12-18_10-20-38/details.md
.VSCodeCounter/2024-12-18_10-20-38/diff-details.md
.VSCodeCounter/2024-12-18_10-20-38/diff.csv
.VSCodeCounter/2024-12-18_10-20-38/diff.md
.VSCodeCounter/2024-12-18_10-20-38/diff.txt
.VSCodeCounter/2024-12-18_10-20-38/results.csv
.VSCodeCounter/2024-12-18_10-20-38/results.json
.VSCodeCounter/2024-12-18_10-20-38/results.md
.VSCodeCounter/2024-12-18_10-20-38/results.txt
.VSCodeCounter/2024-12-18_10-20-50/details.md
.VSCodeCounter/2024-12-18_10-20-50/diff-details.md
.VSCodeCounter/2024-12-18_10-20-50/diff.csv
.VSCodeCounter/2024-12-18_10-20-50/diff.md
.VSCodeCounter/2024-12-18_10-20-50/diff.txt
.VSCodeCounter/2024-12-18_10-20-50/results.csv
.VSCodeCounter/2024-12-18_10-20-50/results.json
.VSCodeCounter/2024-12-18_10-20-50/results.md
.VSCodeCounter/2024-12-18_10-20-50/results.txt
.VSCodeCounter/2024-12-18_10-21-05/details.md
.VSCodeCounter/2024-12-18_10-21-05/diff-details.md
.VSCodeCounter/2024-12-18_10-21-05/diff.csv
.VSCodeCounter/2024-12-18_10-21-05/diff.md
.VSCodeCounter/2024-12-18_10-21-05/diff.txt
.VSCodeCounter/2024-12-18_10-21-05/results.csv
.VSCodeCounter/2024-12-18_10-21-05/results.json
.VSCodeCounter/2024-12-18_10-21-05/results.md
.VSCodeCounter/2024-12-18_10-21-05/results.txt
