<div class="tab-pane fade" id="census-tab" role="tabpanel" aria-labelledby="census-button" tabindex="0">
    <div class="container-fluid">
        <div class="nav nav-tabs resolute-tabs m-2" id="census-tabs" role="tablist">
            <button-tab label-text="Players" controls="players-tab" custom-id="players-tab-button" active></button-tab>

            <button-tab label-text="Characters" controls="characters-tab"
                custom-id="characters-tab-button"></button-tab>
        </div>

        <div class="tab-content" id="census-content">
            <div class="tab-pane fade show active" id="players-tab" role="tabpanel" aria-labelledby="players-tab-button"
                tabindex="0">
                <table class="table table-striped table-dark table-condensed table-hover mb-0 selectable wide-table"
                    id="player-table"></table>
            </div>

            <div class="tab-pane fade" id="characters-tab" role="tabpanel" aria-labelledby="characters-tab-button"
                tabindex="0">
                <table class="table table-striped table-dark table-condensed table-hover mb-0 selectable wide-table"
                    id="characters-table"></table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="player-modal" tabindex="-1" role="dialog" aria-labelledby="playermodal" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold text-white">Player Information</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="nav nav-tabs resolute-tabs m-2" id="player-tabs" role="tablist">
                    <button-tab label-text="Player Overview" controls="member-overview-tab"
                    custom-id="member-overview-button" active></button-tab>

                    <button-tab label-text="Characters" controls="character-overview-tab"
                    custom-id="character-overview-button"></button-tab>
                </div>

                <div class="tab-content" id="player-content">
                    <!-- Member Overview-->
                    <div class="tab-pane fade show active" id="member-overview-tab" role="tabpanel" aria-labelledby="member-overview-button" tabindex="0">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col">
                                    <text-input label-text="Member ID" custom-id="member-id" disabled></text-input>
                                </div>
                                <div class="col">
                                    <text-input label-text="Name" custom-id="member-name" disabled></text-input>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col">
                                    <number-input label-text="CC" custom-id="player-cc" disabled></number-input>
                                </div>

                                <div class="col">
                                    <number-input label-text="Diversion CC" custom-id="player-div-cc" disabled></number-input>
                                </div>

                                <div class="col">
                                    <number-input label-text="Activity Points" custom-id="player-act-points" disabled></number-input>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="nav nav-tabs resolute-tabs m-2" id="player-stats-tabs" role="tablist">
                                    <button-tab label-text="Commands" controls="command-stats-tab"
                                        custom-id="command-stats-button" active></button-tab>

                                        <button-tab label-text="Say Stats" controls="say-stats-tab"
                                        custom-id="say-stats-button"></button-tab>

                                    <button-tab label-text="NPC" controls="npc-stats-tab"
                                        custom-id="npc-stats-button"></button-tab>
                                </div>

                                <div class="tab-content" id="player-stats-content">
                                    <div class="tab-pane fade show active" id="command-stats-tab" role="tabpanel" aria-labelledby="command-stats-button" tabindex="0">
                                        <table class="table table-striped table-dark table-condensed table-hover mb-0 selectable wide-table" id="stats-table"></table>
                                    </div>

                                    <div class="tab-pane fade show" id="say-stats-tab" role="tabpanel" aria-labelledby="say-stats-button" tabindex="0">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="form-floating">
                                                    <input type="date" class="form-control" id="say-start-date">
                                                    <label for="say-start-date">Start Date:</label>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-floating">
                                                    <input type="date" class="form-control" id="say-end-date">
                                                    <label for="say-end-date">End Date:</label>
                                                </div>
                                            </div>
                                        </div>
                                        <table class="table table-striped table-dark table-condensed table-hover mb-0 selectable wide-table" id="say-table"></table>
                                    </div>
                                    
                                
                                    <div class="tab-pane fade show" id="npc-stats-tab" role="tabpanel" aria-labelledby="npc-stats-button" tabindex="0">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="form-floating">
                                                    <input type="date" class="form-control" id="npc-start-date">
                                                    <label for="npc-start-date">Start Date:</label>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-floating">
                                                    <input type="date" class="form-control" id="npc-end-date">
                                                    <label for="npc-end-date">End Date:</label>
                                                </div>
                                            </div>
                                        </div>
                                        <table class="table table-striped table-dark table-condensed table-hover mb-0 selectable wide-table" id="global-npc-table"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Characters -->
                    <div class="tab-pane fade" id="character-overview-tab" role="tabpanel" aria-labelledby="character-overview-button" tabindex="0">
                        <table class="table table-striped table-dark table-condensed table-hover mb-0 selectable" id="player-character-table"></table>
                    </div>
                </div>
            </div>

            <div class="modal-footer"></div>
        </div>
    </div>
</div>