<div class="tab-pane fade" id="guild-settings-tab" role="tabpanel" aria-labelledby="guild-settings-button" tabindex="0">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-3">
                <number-input label-text="Max Level" custom-id="guild-max-level"></number-input>
            </div>

            <div class="col-3">
                <number-input label-text="Max Characters" custom-id="guild-max-characters"></number-input>
            </div>

            <div class="col-3">
                <number-input label-text="Handicap CC" custom-id="guild-handicap-cc"></number-input>
            </div>

            <div class="col-3">
                <number-input label-text="Diversion CC" custom-id="guild-div-cc"></number-input>
            </div>
        </div>

        <button type="button" id="guild-settings-save-button" class="btn btn-primary float-begin m-3">
            Save Changes
        </button>
    </div>
</div>