<div class="tab-pane fade" id="guild-settings-tab" role="tabpanel" aria-labelledby="guild-settings-button" tabindex="0">
    <div class="container-fluid">
        <div class="row mb-2">
            <h4>General Settings</h4>
            <div class="col-auto">
                <number-input label-text="Max Level" custom-id="guild-max-level"></number-input>
            </div>

            <div class="col-auto">
                <number-input label-text="Max Characters" custom-id="guild-max-characters"></number-input>
            </div>

            <div class="col-auto">
                <number-input label-text="Handicap CC" custom-id="guild-handicap-cc"></number-input>
            </div>

            <div class="col-auto">
                <number-input label-text="Diversion CC" custom-id="guild-div-cc"></number-input>
            </div>

            <div class="col-auto">
                <number-input label-text="Staff Reward Threshold" custom-id="guild-reward-threshold"></number-input>
            </div>
        </div>

        <div class="row mb-2">
            <h4>Roles</h4>
            <div class="col-auto">
                <select-tab custom-id="guild-member-role" custom-label="Member Role"></select-tab>
            </div>

            <div class="col-auto">
                <select-tab custom-id="guild-admin-role" custom-label="Admin Role"></select-tab>
            </div>

            <div class="col-auto">
                <select-tab custom-id="guild-staff-role" custom-label="Staff Role"></select-tab>
            </div>

            <div class="col-auto">
                <select-tab custom-id="guild-bot-role" custom-label="Bot Role"></select-tab>
            </div>

            <div class="col-auto">
                <select-tab custom-id="guild-quest-role" custom-label="Quest Role"></select-tab>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-auto">
                <select-tab custom-id="guild-entry-role" custom-label="Entry Role"></select-tab>
            </div>

            <div class="col-auto">
                <select-tab custom-id="tier-2-role" custom-label="Tier 2 Role"></select-tab>
            </div>

            <div class="col-auto">
                <select-tab custom-id="tier-3-role" custom-label="Tier 3 Role"></select-tab>
            </div>

            <div class="col-auto">
                <select-tab custom-id="tier-4-role" custom-label="Tier 4 Role"></select-tab>
            </div>

            <div class="col-auto">
                <select-tab custom-id="tier-5-role" custom-label="Tier 5 Role"></select-tab>
            </div>

            <div class="col-auto">
                <select-tab custom-id="tier-6-role" custom-label="Tier 6 Role"></select-tab>
            </div>
        </div>

        <div class="row mb-2">
            <h4>Channels</h4>

            <div class="col-auto">
                <select-tab custom-id="guild-application-channel" custom-label="Application Channel"></select-tab>
            </div>

            <div class="col-auto">
                <select-tab custom-id="guild-market-channel" custom-label="Market Channel"></select-tab>
            </div>

            <div class="col-auto">
                <select-tab custom-id="guild-announcement-channel" custom-label="Announcement Channel"></select-tab>
            </div>

            <div class="col-auto">
                <select-tab custom-id="guild-staff-channel" custom-label="Staff Channel"></select-tab>
            </div>

            <div class="col-auto">
                <select-tab custom-id="guild-help-channel" custom-label="Help Channel"></select-tab>
            </div>

            <div class="col-auto">
                <select-tab custom-id="guild-arena-board-channel" custom-label="Arena Board Channel"></select-tab>
            </div>

            <div class="col-auto">
                <select-tab custom-id="guild-exit-channel" custom-label="Exit Channel"></select-tab>
            </div>

            <div class="col-auto">
                <select-tab custom-id="guild-entrance-channel" custom-label="Entrance Channel"></select-tab>
            </div>
        </div>

        <button type="button" id="guild-settings-save-button" class="btn btn-primary float-begin m-3">
            Save Changes
        </button>
    </div>
</div>