{% extends "template.html" %} {% block body %}

<h1 class="m-2"> {{ header }} </h1>

<div class="row m-2" data-masonry="{'percentPosition': true}">
  {% for character in characters %}
    <div class="col m-2">
        <div class="card rounded-4 h-100">
            {% if character.image == None or character.image == "" or not character.image %}
            <img class="card-img-top" src="/static/images/Placeholder.png">
            {% else %}
            <img class="card-img-top" src="{{ url_for('static', filename=character.image) }}">
            {% endif %}

            <div class="card-body">
                <h5 class="card-title"> {{ character.name }}</h5>
                <a href="{{ link }}/{{character.key}}" class="stretched-link"></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}