<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="saveModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold text-black">Save Plan</h4>
                <button type="button" class="btn-close" data-dismiss="modal" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <div class="container m-2">
                   <form method="dialog" id="save-plan-form">
                       <div class="row border rounded bg-secondary m-2">
                           <div class="row m-2">
                               <div class="col-sm mb-3">
                                   <div class="form-floating">
                                       <input type="text" class="form-control" id="plan-name" name="plan-name" placeholder="Plan Name" required>
                                       <label for="plan-name">Plan Name</label>
                                   </div>
                               </div>
                           </div>
                           <div class="row">
                               <div class="col mb-3">
                                   <button type="submit" class="btn btn-primary m-2 copy-button" id="save-plan">Save Build</button>
                                   <button type="button" class="btn btn-light float-end m-2" data-bs-dismiss="modal"
                                           data-dismiss="modal">
                                       Cancel
                                   </button>
                               </div>
                           </div>
                       </div>
                   </form>
               </div>
            </div>
        </div>
    </div>
</div>