{% extends "template.html" %} {% block body %}

<h1 class="m-2">Add Character</h1>

<div class="container-fluid m-2">
    <form action="/admin/add_character" method="post">
        <div class="row mb-3">
             <div class="col-sm">
                <label for="key">Key</label>
                <input type="text" class="form-control" id="key" name="key" placeholder="Key" required>
            </div>

            <div class="col-sm">
                <label for="page">Page</label>
                <input type="number" class="form-control" id="page" name="page"
                       placeholder="Page" value="1" required>
            </div>

            <div class="col-sm">
                <label for="order">Order</label>
                <input type="number" class="form-control" id="order" name="order"
                       placeholder="Order" value="1">
            </div>
        </div>


        <div class="row mb-3">
            <div class="col-sm">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name"
                       placeholder="Character Name" required>
            </div>

            <div class="col-sm">
                <label for="name">Subtitle</label>
                <input type="text" class="form-control" id="subtitle" name="subtitle"
                       placeholder="Subtitle" value="">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-lg">
                <label for="name">URL</label>
                <input type="url" class="form-control" id="url" name="url" placeholder="URL">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-lg">
                <label for="image">Image Path</label>
                <input type="text" class="form-control" id="image" name="image" placeholder="Image Path">
            </div>

            <div class="col-lg">
                <label for="figcaption">Image Caption/Citation</label>
                <input type="text" class="form-control" id="figcaption" name="figcaption"
                       placeholder="Image Caption/Citation">
            </div>
        </div>

        <div class="row mb-3">
             <div class="col-sm">
                <a href="/admin" class="btn btn-light" role="button">Close</a>
            </div>

            <div class="col-sm">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}

