<nav class="navbar navbar-dark bg-dark p-2">
    <button class="navbar-toggler m-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='/images/header2.png') }}"
             width="70"
             height="auto"
             alt="Corvux.me">
    </a>

    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
         aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='/images/header2.png') }}"
                     width="70"
                     height="auto"
                     alt="Corvux.me">
            </a>

            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

                <!-- Home -->
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>

                <!-- Avrae Combat Planner -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('complanner.planner') }}">Avrae Combat Planner</a>
                </li>
            </ul>
        </div>
        <a class="align-bottom text-center mb-3" href='https://ko-fi.com/J3J8GWP6G' target='_blank'><img id="kofi-link" src='https://storage.ko-fi.com/cdn/kofi4.png?v=3' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
    </div>
</nav>