<nav class="navbar navbar-dark bg-dark p-2">
    <button class="navbar-toggler m-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    {% if config.DISCORD_SESSION and config.DISCORD_SESSION.authorized %}
    <div class="d-flex ms-auto align-items-center" id="user-info-container">
        <!-- Guilds Dropdown -->
        <div class="dropdown me-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="guild-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
            </button>
            <ul class="dropdown-menu" aria-labelledby="guild-dropdown" id="guild-list">
            </ul>
        </div>

        <!-- User Badge -->
        <a class="navbar-brand ms-auto" href="{{ url_for('auth.logout') }}" id="user-badge">
            {% set active_user = config.DISCORD_SESSION.fetch_user() %}
                <p class="text-muted d-inline">{{active_user.username}}</p>
                {% if active_user.avatar_url %}
                <img src="{{ active_user.avatar_url}}"
                    class="rounded-circle"
                     width="35"
                     height="auto">
                {% endif %}
        </a>
    </div>
    {% endif %}

    <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='/images/header2.png') }}"
             width="70"
             height="auto"
             alt="Corvux.me">
    </a>
 

    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
         aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='/images/header2.png') }}"
                     width="70"
                     height="auto"
                     alt="Corvux.me">
            </a>

            <a class="align-bottom text-center m-2" href='https://ko-fi.com/J3J8GWP6G' target='_blank'><img id="kofi-link" src='https://storage.ko-fi.com/cdn/kofi4.png?v=3' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>

            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

                <!-- Home -->
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>

                <!-- Avrae Combat Planner -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('complanner.planner') }}">Avrae Combat Planner</a>
                </li>

                {% if session.admin %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for ('G0T0.main') }}">G0T0 Management</a>
                </li>
                {% endif %}

                {% if config.DISCORD_SESSION and config.DISCORD_SESSION.authorized %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for ('G0T0.profile') }}">G0T0 Profile</a>
                </li>
                {% endif %}
                
                <!-- Login Options -->
                {% if config.DISCORD_SESSION and config.DISCORD_SESSION.authorized %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for ('auth.logout') }}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for ('auth.login') }}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='src/General/navbar.js') }}" type="module"></script>