h1{
    font-family: verdana;
    margin-left: 15px;
    color: white;
    text-align: center;
}

h2, h3, h4, p{
    font-family: verdana;
    margin-left: 15px;
    color: white;
}

.nav-item{
    font-size: 120%;
}

body{
    display: inline;
    font-family: verdana;
    background-color: #2C2F33;
}


:root{
    color: #d5e0e7;
}

.nav-link.complanner{
    background-color: silver;
}

#mapOverlayModal {
  overflow: hidden;
}
