h1{
    font-family: verdana;
    margin-left: 15px;
    color: white;
    text-align: center;
}

h2, h3, h4, p{
    font-family: verdana;
    margin-left: 15px;
    color: white;
}

.nav-item{
    font-size: 120%;
}

body{
    display: inline;
    font-family: verdana;
    background-color: #2C2F33;
}


:root{
    color: #d5e0e7;
}

.nav-link.complanner{
    background-color: silver;
}

#kofi-link{
    height: 36px;
    border: 0px;
}

.bg-image{
    background-size: cover;
    position: absolute;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.icon-link{
    text-decoration: none;
}

.project-card{
    opacity: 95%;
    color: black;
    max-width: 18rem;
    min-width: 18rem;
    border-radius: 10px;
    box-shadow: 0 3px 6px
    rgba(0,0,0,0.16), 0 3px 6px
    rgba(0,0,0,0.23);
}

.project-logo{
    object-fit: contain;
    height: 100px
}

.card-img-top{
    width: 100%;
    height: 8vw;
    object-fit: contain;
}