{% extends "template.html" %} {% block body %}

<div class="banner">
    <div class="player-pic">
        <!-- Portrait Image -->
        {% if player.image == "" or player.image == null %}
        <img  class="portrait" src="{{ url_for('static', filename='/images/Placeholder.png') }}" >
        {% else %}
        <img  class="portrait" src="{{ url_for('static', filename=player.image) }}" >
        {% endif %}

            <!--Portrait Caption -->
        {% if player.figcaption != "" %}
        <div class="figcaption">{{ player.figcaption | safe}}</div>
        {% endif %}
    </div>

    <div class="name-group">
        <h1 class="name"> {{ player.name }}</h1>
        {% if player.subtitle != "" %}
        <h3 class="sub-name">{{ player.subtitle }}</h3>
        {% endif %}
    </div>

    <a href="{{ button_link }}" class="btn btn-info" role="button">{{ button_caption }}</a>

</div>

{% if player.url != "" %}
<div class="embed-responsive embed-responsive-1by1">
    <iframe class="embed-responsive-item" src={{ player.url }} allowtransparency="true" frameborder="0">
    </iframe>
</div>
{% endif %}

{% endblock %}