<div class="container m-2">
    <div class="row border rounded border-success bg-light" id="inventory-header">
        <div class="col">
            <div class="row border rounded border-success bg-light">
                <div class="col-sm">
                    <p class="text-black">Avrae Command String</p>
                    <div id="commandStr" hidden>
                        <button class="btn float-end pe-2 me-2 copy-button" id="command-copy"><i
                                class="fa-solid fa-copy pe-2"></i></button>
                        <div id="avrae-command" class="text-dark bg-secondary border rounded m-2 p-2"></div>
                    </div>
                </div>
                <div class="col-auto mt-5 mb-4 settings">
                    <div class="form-check form-switch" id="multiColumn">
                        <input class="form-check-input" type="checkbox" id="setting-multiline"
                               name="setting-multiline">
                        <label class="form-check-label" for="setting-multiline">Include Multiline</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="setting-maptarget"
                               name="setting-maptarget">
                        <label class="form-check-label" for="setting-maptarget">Include Map Target</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="setting-notes" name="setting-notes">
                        <label class="form-check-label" for="setting-notes">Include Notes</label>
                    </div>
                </div>
                <div class="col-auto mt-5 mb-4 settings">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="setting-monsters"
                               name="setting-monsters">
                        <label class="form-check-label" for="setting-monsters">Monsters</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="setting-battlemap"
                               name="setting-battlemap">
                        <label class="form-check-label" for="setting-battlemap">Map</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="setting-overlay"
                               name="setting-overlay">
                        <label class="form-check-label" for="setting-overlay">Overlay</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form method="dialog" id="monster-inventory">
    </form>
</div>