{% extends "template.html" %} {% block body %}
<div class="container m-2 text-center">
    <h1>G0T0 Management</h1>
</div>

<!-- Nav Tabs-->
<nav>
    <div class="nav nav-tabs m-2" id="G0T0Tab" role="tablist">

        <button-tab label-text="Announcements" controls="announcement-tab" custom-id="announcement-tab-button"
            active></button-tab>

        <button-tab label-text="Posts" controls="bot-messages-tab" custom-id="bot-messages-button"></button-tab>

        <button-tab label-text="Settings" controls="guild-settings-tab" custom-id="guild-settings-button"></button-tab>

        <button-tab label-text="Activities" controls="activity-settings-tab"
            custom-id="activity-settings-button"></button-tab>

        <button-tab label-text="Pricing" controls="price-settings-tab"
            custom-id="price-settings-button"></button-tab>

        <button-tab label-text="Census" controls="census-tab" custom-id="census-button"></button-tab>

        <button-tab label-text="Logs" controls="log-review-tab" custom-id="log-review-button"></button-tab>

        <button-tab label-text="Financial" controls="financial-settings-tab" custom-id="financial-settings-button"></button-tab>
    </div>
</nav>

<!-- Tab Content -->
<div class="tab-content" id="G0T0Content">
    {% for tab in tabs %}
        {% include tab %}
    {% endfor %}
</div>

<script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='src/G0T0/main.js') }}" type="module"></script>
{% endblock %}